html, body {
  width: 100%;
  height: 100%;
}

body {
   background-color: black;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.clock-text {
  color: white;
  font-size: 6rem;
}

.form {
  margin-top: 30px;
}

.user-name {
  background: transparent;
  text-decoration: none;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  text-align: center;
  height: 30px;
  width: 100%;
}

::placeholder {
  color: white;
}

.hello-message {
  margin-top: 20px;
  font-size: 25px;
  color: white;
  text-align: center;
}