html {
  color: -internal-root-color;
}

body {
  color: #ffffff;
  background-color: #2c3e50;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
}

.all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

.js-clock {
  display: inline-block;
  position: relative;
  margin-top: -20px;
  margin-bottom: -20px;
  font-size: 1.4em;
  font-weight: 500;
}

h1 {
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  cursor: default;
  letter-spacing: -5px;
}

/*
.greeting {
  font-weight: 500;
  user-select: none;
  display: flex;
  line-height: normal;
  border: none;
  background-color: rgb(10, 10, 10);
  color: #d4d4d4;
  opacity: 0.7;
  font-size: 15px;
  padding: 10px;
  border-radius: 50px;
  margin-bottom: 10px;
  width: 450px;
  align-content: center;
}

.js-toDoForm {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
*/

.js-weather {
  border: none;
  background-color: rgb(10, 10, 10);
  color: #d4d4d4;
  opacity: 0.8;
  font-size: 15px;
  padding: 5px 15px;
  border-radius: 20px;
  margin-bottom: 20px;
  position: relative;
}

.button {
  cursor: pointer;
  size: 10x10;
}

.clicked {
  color: #8e44ad;
}

.form,
.greeting {
  display: none;
}

.showing {
  display: block;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 20px;
  align-content: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
